{% extends 'templates/default.twig' %}
{% block page_header %}
    <h1>Contacts</h1><a href="{{ path_for('contact_new') }}" class="btn btn-primary">Create New</a>
{% endblock %}
{% block body %}
    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>District</th>
            <th>Street</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id|e }}</td>
                <td>{{ contact.name|e }}</td>
                <td>{{ contact.email|e }}</td>
                <td>{{ contact.phone|e }}</td>
                <td>{{ contact.district|e }}</td>
                <td>{{ contact.street|e }}</td>
                <td>
                    <a href="{{ path_for('contact_update', {'id':contact.id}) }}"
                       class="btn btn-mini btn-info">Update</a>
                    <a href="{{ path_for('contact_delete', {'id':contact.id}) }}"
                       class="btn btn-mini btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}